<!DOCTYPE html>
<html>
  <head>
    <title>New project</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <div id="header">
          <h1>ŚWIĄTECZNE LOSOWANIE</h1>
          <p id="headerParagraph">Razem z rodziną, przyjaciółmi lub swoją klasą weź udział we wspólnym losowniu prezentów!</p>
        </div>
        {{{body}}}
      </div>
    </div>
    <div id="footer"> <p id="footerText">Świąteczne losowanie	2020 &copy; Wszelkie prawa zastrzeżone. </p></div>
    <script src="js/scripts.js"></script>
  </body>
</html>