<h1>GRATULACJE LOSOWANIE POWIODŁO SIĘ</h1>
<h2>Sprawdź swoją skrzynkę mailową</h2>
</br>
</br>
<a href="/"><button id="returnRutton">Wróć na stronę główną</button></a>
<h2>Uczestnicy to:</h2>
{{#each participantsList}}
    <span>{{this.name}}</span> <br>
{{/each}}