<body style="background-color: #146B3A; color: white; width: auto; text-align: center">
    <div style="background-color: #146B3A;"">
        <h1 style="padding-top:55px;font-size:40px;margin-bottom: 0px; color: #EA4630; text-transform: uppercase;"> 
            WITAJ {{participantName}} !</h1><br>
        <p style="font-size: 30px;">Dziękujemy za udział w mikołajkowym losowaniu!<br>
            Osoba, dla której będziesz świętym mikołajem to:</p><br>
        <h2 style="font-size: 35px; color: #F8B229; text-transform: uppercase;">{{recipient}}</h2><br>
        <p style="font-size: 30px; font-weight: bold">Oto kilka wskazówek, które pozostawiła Ci osoba, którą wylosowałeś/aś:</p>
        <p style="font-size: 30px;">{{recipienDescription}}</p> 
        <p style="font-size: 30px">Pamiętaj, że ktoś inny też wylosował twoje imię.</p>
    </div>
</body>
